* {
  box-sizing: border-box;
}

.container {
  width: 800px;
  height: 900px;
  border: 5px solid;
  margin: 15px auto;
  background-image: url("https://cdn.shopify.com/s/files/1/0579/4952/0077/files/Tatty_s_Logo_HD.png?v=1657849397");
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(6, 1fr);
}